## análisis previo de dato

In [1]:
import pandas as pd
import calendar
import locale
import numpy as np
# Establecer el idioma a español
#locale.setlocale(locale.LC_TIME, 'es_ES')

In [83]:
df_movies = pd.read_csv('ETL\movies_ETL.csv')
df_cast = pd.read_csv('ETL\credits_Cast_ETL.csv')
df_crew = pd.read_csv('ETL\credits_crew_ETL.csv')
df_movies_cluster = pd.read_csv('ETL\df_movies_cluster.csv')

In [84]:
df_movies.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,1995,12.451801
1,NaN,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035
2,Grumpy Old Men Collection,0,"Romance, Comedy",15602,en,A family wedding reignites the ancient feud be...,11.712900,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000
3,NaN,16000000,"Comedy, Drama, Romance",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156.0,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760
4,Father of the Bride Collection,0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,"Sandollar Productions, Touchstone Pictures",United States of America,1995-02-10,76578911.0,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0.000000

In [6]:
df_movies.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'release_year', 'return'],
      dtype='object')

## FECHA

In [73]:
def cantidad_filmaciones_mes(mes: str):

    df_movies = pd.read_csv('ETL/movies_ETL.csv')
    
    # Convertir la columna 'release_date' al tipo de dato de fecha
    df_movies['release_date'] = pd.to_datetime(df_movies['release_date'])

    # Obtener el nombre del mes de la columna 'release_date'
    df_movies['nombre_mes'] = df_movies['release_date'].dt.strftime('%B')


    #creamos diccionarios con los nombres de los meses en ingles y español para poder cambiar el nombre de
    meses_ingles = ['January', 'February', 'March', 'April', 'May', 'June',
                    'July', 'August', 'September', 'October', 'November', 'December']

    meses_espanol = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio',
                    'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']

    # Crear un diccionario de nombres de meses en inglés y en español
    meses_dict = dict(zip(meses_ingles, meses_espanol))
    

    #cambiamos el nombre de ingles a español
    df_movies['nombre_mes'] = df_movies['nombre_mes'].map(meses_dict)
        
    # Filtrar las películas estrenadas en el mes consultado
    peliculas_mes = (df_movies['nombre_mes'].str.strip().str.lower() == mes.strip().lower()).sum()
    
    # Devolver el resultado
    return {"mes":mes, "cantidad": f"{peliculas_mes} películas fueron estrenadas en el mes de {mes}"}

In [74]:
# Ejemplo de uso
cantidad = cantidad_filmaciones_mes('Octubre ')
print(cantidad)

{'mes': 'Octubre ', 'cantidad': '4615 películas fueron estrenadas en el mes de Octubre '}

dia

In [2]:
import pandas as pd

def cantidad_filmaciones_dia(dia):
    df_movies = pd.read_csv('ETL/movies_ETL.csv')

    # Convertir la columna 'release_date' al tipo de dato de fecha
    df_movies['release_date'] = pd.to_datetime(df_movies['release_date'])

    # Obtener el nombre del día de la semana de la columna 'release_date' en español
    df_movies['nombre_dia'] = df_movies['release_date'].dt.strftime('%A')

    # Crear un diccionario de nombres de días de la semana en inglés y en español
    dias_ingles = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    dias_espanol = ['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo']

    # Crear un diccionario de nombres de dias en inglés y en español
    dias_dict = dict(zip(dias_ingles, dias_espanol))

    # Cambiamos el nombre de inglés a español
    df_movies['nombre_dia'] = df_movies['nombre_dia'].map(dias_dict)

    # Filtrar las películas estrenadas en el día consultado
    peliculas_dia = (df_movies['nombre_dia'].str.strip().str.lower() == dia.strip().lower()).sum()

    # Devolver el resultado
    return {'dia': dia, 'cantidad': f"{peliculas_dia} películas fueron estrenadas el día {dia}"}

In [4]:
# Ejemplo de uso
cantidad = cantidad_filmaciones_dia('miercoles')
print(cantidad)

{'dia': 'miercoles ', 'cantidad': '7035 películas fueron estrenadas el día miercoles '}

In [209]:
# def cantidad_filmaciones_dia(Dia: int):
#     # Convertir la columna 'release_date' al tipo de dato de fecha
#     df_movies['release_date'] = pd.to_datetime(df_movies['release_date'])

#     # Filtrar las películas estrenadas en el día consultado
#     peliculas_dia = (df_movies['release_date'].dt.day == Dia).sum()

#     # Devolver el resultado
#     return {'dia': Dia, 'cantidad': f"{peliculas_dia} películas fueron estrenadas en el día {Dia}"}

In [210]:
# # Ejemplo de uso
# cantidad = cantidad_filmaciones_dia(1)
# print(cantidad)

{'dia': 1, 'cantidad': '5838 películas fueron estrenadas en el día 1'}

## POPULARIDAD

In [85]:
def score_titulo(titulo_de_la_filmacion: str):
    
    df_movies = pd.read_csv('ETL\movies_ETL.csv')
    # Usamos loc para ubicar la popularidad por el título, dado que puede haber varias películas con el mismo título
    # Se hace tolerante a espacios y se convierte a minúsculas para realizar una comparación insensible a mayúsculas y espacios
    peliculas = df_movies.loc[df_movies['title'].str.strip().str.lower() == titulo_de_la_filmacion.strip().lower()]

    # Convertimos la columna 'popularity' al tipo de dato numérico
    peliculas['popularity'] = pd.to_numeric(peliculas['popularity'], errors='coerce')

    # Obtenemos la popularidad promedio de las películas encontradas
    popularidad = peliculas['popularity'].mean()

    # Obtenemos el año de estreno de la primera película encontrada
    anio = int(peliculas.iloc[0]['release_year'])

    # Devolver el resultado
    return {'titulo': titulo_de_la_filmacion, 'anio': anio, 'popularidad': f"La película '{titulo_de_la_filmacion}' fue estrenada en el año {anio} con un score/popularidad de {popularidad}"}

In [86]:
# Ejemplo de uso
popularidad = score_titulo('Jumanji')
print(popularidad)

{'titulo': 'Jumanji', 'anio': 1995, 'popularidad': "La película 'Jumanji' fue estrenada en el año 1995 con un score/popularidad de 17.015539"}

C:\Users\makaw\AppData\Local\Temp\ipykernel_10812\1817047864.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peliculas['popularity'] = pd.to_numeric(peliculas['popularity'], errors='coerce')

## VOTOS

In [87]:
def votos_titulo(titulo_de_la_filmacion: str):

    df_movies = pd.read_csv('ETL\movies_ETL.csv')
    # Filtrar el DataFrame por el título dado 
    # hacemos que sea tolerante a espacios al inicio o al final del nombre, a datos que no sean de tipo str y a las mayusculas
    filtro = df_movies.loc[df_movies['title'].str.strip().str.strip().str.lower() == titulo_de_la_filmacion.strip().lower()]
    filtro
    
    if filtro.empty:
        # Si no se encuentra el título en el DataFrame
        return "No se encontró ninguna filmación con ese título."

    # Obtener el número de votos y promedio de votos, se usa .item() para modificar el dato y que ya no se un objeto de numpy
    votos = filtro['vote_count'].sum().item()
    promedio_votos = filtro['vote_average'].mean().item()

    if votos < 2000:
        # Si el número de votos es menor a 2000, mostrar mensaje y retornar None
        return "La filmación no tiene suficientes valoraciones (menos de 2000)."
    
    anio = filtro['release_year'].values[0].item()
    # Retornar el título, cantidad de votos y promedio de votos en un diccionario
    return {'titulo': titulo_de_la_filmacion, 'anio': anio, 'voto_total': votos, 'voto_promedio': promedio_votos}

In [88]:
# Ejemplo de uso
resultado = votos_titulo('Jumanji')
print(resultado)

{'titulo': 'Jumanji', 'anio': 1995, 'voto_total': 2413.0, 'voto_promedio': 6.9}

In [11]:
pd.set_option('display.max_columns', None)

## nombre_actor

In [5]:
def get_actor(nombre_actor):

    df_cast = pd.read_csv('ETL/credits_Cast_ETL.csv')
    df_movies = pd.read_csv('ETL/movies_ETL.csv')
    # Filtrar el DataFrame df_cast por nombre del actor
    peliculas_actor= df_cast[df_cast['name'].str.strip().str.strip().str.lower() == nombre_actor.strip().lower()]

    # Obtener la cantidad de películas en las que ha participado el actor
    cantidad_peliculas = len(peliculas_actor)

    if cantidad_peliculas > 0:
        # Filtrar el DataFrame df_movies por las películas en las que ha participado el actor
        # el metodo .isin permite verificar si los valores de una columna se encuentran dentro de una lista de valores especificada
        participacion_actor = df_movies[df_movies['id'].isin(peliculas_actor['id'])]

        # Calcular el retorno total del actor sumando los retornos de todas las películas
        retorno_total = participacion_actor['return'].sum()

        # Calcular el promedio de retorno del actor dividiendo el retorno total entre la cantidad de películas
        promedio_retorno = retorno_total / cantidad_peliculas

        # Construir el mensaje de retorno con la información obtenida
        mensaje_retorno = {'actor':nombre_actor, 'cantidad_filmaciones':cantidad_peliculas, 'retorno_total':retorno_total, 'retorno_promedio':promedio_retorno}
    else:
        mensaje_retorno = {'mensaje': f"No se encontraron películas para el actor {nombre_actor}"}

    # Devolver el mensaje de retorno
    return mensaje_retorno

In [14]:
resultado = get_actor('Scarlett Johansson')
print(resultado)

{'actor': 'Scarlett Johansson', 'cantidad_filmaciones': 51, 'retorno_total': 130.26514497509592, 'retorno_promedio': 2.5542185289234496}

## nombre_director

In [8]:
def get_director( nombre_director ):

    df_movies = pd.read_csv('ETL/movies_ETL.csv')
    df_crew = pd.read_csv('ETL/credits_crew_ETL.csv')
    # Filtrar el DataFrame df_cast por nombre del actor
    peliculas_director= df_crew[df_crew['name'].str.strip().str.strip().str.lower() == nombre_director.strip().lower()]

    # Obtener la cantidad de películas en las que ha participado el actor
    cantidad_peliculas = len(peliculas_director)

    if cantidad_peliculas > 0:
        # Filtrar el DataFrame df_movies por las películas en las que ha participado el actor
        # el metodo .isin permite verificar si los valores de una columna se encuentran dentro de una lista de valores especificada
        peliculas_dirigidas = df_movies[df_movies['id'].isin(peliculas_director['id'])].reset_index(drop=True)

        # Calcular el retorno total del director sumando los retornos de todas las películas
        retorno_total = peliculas_dirigidas['return'].sum()

        # Obtener el número de filas en el DataFrame
        tamaño_df = len(peliculas_dirigidas)
        tamaño_df

        # Crear una lista vacía para almacenar los diccionarios
        peliculas_info = []

        # Iterar sobre cada fila del DataFrame
        for i in range(tamaño_df):
             # Obtener los valores de cada columna en la fila actual
            titulo = peliculas_dirigidas.loc[i, 'title']
            anio = peliculas_dirigidas.loc[i, 'release_year']
            retorno_pelicula = peliculas_dirigidas.loc[i, 'return']
            budget_pelicula = peliculas_dirigidas.loc[i, 'budget']
            revenue_pelicula = peliculas_dirigidas.loc[i, 'revenue']

            # Convertir los valores de tipo numpy.int64 a tipos nativos de Python
            titulo = titulo.tolist() if isinstance(titulo, np.int64) else titulo
            anio = anio.tolist() if isinstance(anio, np.int64) else anio
            retorno_pelicula = retorno_pelicula.tolist() if isinstance(retorno_pelicula, np.int64) else retorno_pelicula
            budget_pelicula = budget_pelicula.tolist() if isinstance(budget_pelicula, np.int64) else budget_pelicula
            revenue_pelicula = revenue_pelicula.tolist() if isinstance(revenue_pelicula, np.int64) else revenue_pelicula
            
            # Crear un diccionario con los valores de la fila actual
            pelicula = {
                "titulo": titulo,
                "anio": anio,
                "retorno": retorno_pelicula,
                "costo": budget_pelicula,
                "ganancia ": revenue_pelicula
            }
            
            # Agregar el diccionario a la lista de peliculas
            peliculas_info.append(pelicula)

        # Construir el mensaje de retorno con la información obtenida
        mensaje_retorno = {'director': nombre_director, 'retorno_total_director':retorno_total, 'peliculas': peliculas_info}
    else:
        mensaje_retorno = {'respuesta': f"No se encontraron películas dirigidas por el director {nombre_director}"}

    # Devolver el mensaje de retorno
    return mensaje_retorno

In [19]:
resultado = get_director('Ava DuVernay')
print(resultado)

{'director': 'Ava DuVernay', 'retorno_total_director': 3.3393954, 'peliculas': [{'titulo': 'Middle of Nowhere', 'anio': 2012, 'retorno': 0.0, 'costo': 0, 'ganancia ': 0.0}, {'titulo': 'Selma', 'anio': 2014, 'retorno': 3.3393954, 'costo': 20000000, 'ganancia ': 66787908.0}, {'titulo': 'I Will Follow', 'anio': 2010, 'retorno': 0.0, 'costo': 0, 'ganancia ': 0.0}, {'titulo': 'This Is The Life', 'anio': 2008, 'retorno': 0.0, 'costo': 0, 'ganancia ': 0.0}, {'titulo': '13th', 'anio': 2016, 'retorno': 0.0, 'costo': 0, 'ganancia ': 0.0}]}

## sistema de recomendacion

In [136]:
df_movies_cluster.head(1)

                     overview_lemmatization_completo      title
0  lead woody andys toy live happily room andys b...  Toy Story

In [30]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

def recomendacion(titulo: str):
    df_movies_cluster = pd.read_csv('ETL/df_movies_cluster.csv')

    # Reemplazar los valores NaN por un espacio en blanco
    df_movies_cluster['overview_lemmatization_completo'].fillna(' ', inplace=True)

    # Obtener el índice de la película objetivo
    idx = df_movies_cluster[df_movies_cluster['title'].str.strip().str.strip().str.lower() == titulo.strip().strip().lower()].index[0]

    # Obtener la matriz TF-IDF de las descripciones de las películas (overview_lemmatization_completo)
    tfidf_vectorizer = TfidfVectorizer()
    tfidf_matrix = tfidf_vectorizer.fit_transform(df_movies_cluster['overview_lemmatization_completo'].values)

    # Calcular las similitudes entre todas las películas respecto a la película inicial
    similarity_scores = cosine_similarity(tfidf_matrix[idx], tfidf_matrix)

    # Obtener las películas más similares a la película objetivo
    similar_movies_indices = np.argsort(similarity_scores[0])[::-1][1:6]  # Obtener las 5 películas más similares
    similar_movies = df_movies_cluster['title'].iloc[similar_movies_indices].values.tolist()

    return {'lista recomendada': f"Las películas recomendadas similares a {titulo} son: {', '.join(similar_movies)}"}

In [32]:

resultado = recomendacion('titanic')
print(resultado)

{'lista recomendada': 'Las películas recomendadas similares a titanic son: Raise the Titanic, Deadly Voyage, The Tiger Brigades, Beyond the Poseidon Adventure, Ghost Voyage'}