## ETL CREDITS

In [31]:
import pandas as pd
import numpy as np

In [42]:
credits = pd.read_csv('Dataset\credits.csv')

In [43]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [148]:
credits.tail()

,cast,crew,id
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

Dividiremos el dataset en 2,uno que contenga los datos de cast y otro que contenga a crew

In [65]:
#esta funcion nos permitira quitar los ids dentro de cada columna, solo quedandonos con datos como nombre, trabajo, etc
import re
def eliminar_claves_id(diccionario):
    patron = re.compile(r'\b\w*id\w*\b', flags=re.IGNORECASE)
    diccionario_filtrado = {clave: valor for clave, valor in diccionario.items() if not patron.search(clave)}
    return diccionario_filtrado

In [155]:
#creamos el df de cast
columnas_cast = ['cast', 'id']
df_Cast = credits[columnas_cast]

In [156]:
#verificamos resultado
df_Cast.head()

                                                cast     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  11862

In [157]:
#Verificaos tipo de dato
print (type(df_Cast.iloc[0,0]))

<class 'str'>

In [158]:
#dado que las los datos estan str hay que volverlos una lista
import ast

df_Cast['cast'] = df_Cast['cast'].apply(lambda x: ast.literal_eval(x))

C:\Users\makaw\AppData\Local\Temp\ipykernel_13832\1751934713.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Cast['cast'] = df_Cast['cast'].apply(lambda x: ast.literal_eval(x))

In [159]:
#verificamos que ya sea una lsta
print (type(df_Cast.iloc[0,0]))

<class 'list'>

In [160]:
# Aplicar la función a la columna especificada para eliminar las keys que contienen id
import re

patron = re.compile(r'\b\w*id\w*\b')

df_Cast['cast'] = df_Cast['cast'].apply(lambda lista: [{k: v for k, v in diccionario.items() if not patron.search(k)} for diccionario in lista])

C:\Users\makaw\AppData\Local\Temp\ipykernel_13832\3734697849.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Cast['cast'] = df_Cast['cast'].apply(lambda lista: [{k: v for k, v in diccionario.items() if not patron.search(k)} for diccionario in lista])

In [161]:
# Verificamos
df_Cast.iloc[0,0]

[{'character': 'Woody (voice)',
  'gender': 2,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'character': 'Buzz Lightyear (voice)',
  'gender': 2,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'},
 {'character': 'Mr. Potato Head (voice)',
  'gender': 2,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 {'character': 'Slinky Dog (voice)',
  'gender': 2,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 {'character': 'Rex (voice)',
  'gender': 2,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 {'character': 'Hamm (voice)',
  'gender': 2,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 {'character': 'Bo Peep (voice)',
  'gender': 1,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 {'character': 'Andy (voice)',
  'gender': 0,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'},
 {'character': 'Sid (voice)',
  'gender': 2,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 {'character': 'Mrs. Davis (voice)',
  'gender': 1,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'},
 {'character': 'Sergeant (voice)',
  'gender': 2,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 {'character': 'Hannah (voice)',
  'gender': 1,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': None},
 {'character': 'TV Announcer (voice)',
  'gender': 2,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [162]:
df_Cast.head()

                                                cast     id
0  [{'character': 'Woody (voice)', 'gender': 2, '...    862
1  [{'character': 'Alan Parrish', 'gender': 2, 'n...   8844
2  [{'character': 'Max Goldman', 'gender': 2, 'na...  15602
3  [{'character': 'Savannah 'Vannah' Jackson', 'g...  31357
4  [{'character': 'George Banks', 'gender': 2, 'n...  11862

In [163]:
df_Cast.to_csv('ETL\credits_Cast_ETL.csv', index=False)

Haremos los mimos con  crew

In [164]:
columnas_crew = ['crew', 'id']
df_crew = credits[columnas_crew]

In [165]:
df_crew.head()

                                                crew     id
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    862
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   8844
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...  15602
3  [{'credit_id': '52fe44779251416c91011acb', 'de...  31357
4  [{'credit_id': '52fe44959251416c75039ed7', 'de...  11862

In [166]:
#Verificaos tipo de dato
print (type(df_crew.iloc[0,0]))

<class 'str'>

In [167]:
#dado que las los datos estan str hay que volverlos una lista
import ast

df_crew['crew'] = df_crew['crew'].apply(lambda x: ast.literal_eval(x))

C:\Users\makaw\AppData\Local\Temp\ipykernel_13832\3905648055.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crew['crew'] = df_crew['crew'].apply(lambda x: ast.literal_eval(x))

In [169]:
#verificamos que ya sea una lsta
print (type(df_crew.iloc[0,0]))

<class 'list'>

In [170]:
# Aplicar la función a la columna especificada para eliminar las keys que contienen id
import re

patron = re.compile(r'\b\w*id\w*\b')

df_crew['crew'] = df_crew['crew'].apply(lambda lista: [{k: v for k, v in diccionario.items() if not patron.search(k)} for diccionario in lista])

C:\Users\makaw\AppData\Local\Temp\ipykernel_13832\1398599645.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crew['crew'] = df_crew['crew'].apply(lambda lista: [{k: v for k, v in diccionario.items() if not patron.search(k)} for diccionario in lista])

In [171]:
#Verificamos
df_crew.iloc[0,0]

[{'department': 'Directing',
  'gender': 2,
  'job': 'Director',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'department': 'Writing',
  'gender': 2,
  'job': 'Screenplay',
  'name': 'Joss Whedon',
  'profile_path': '/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg'},
 {'department': 'Writing',
  'gender': 2,
  'job': 'Screenplay',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'department': 'Writing',
  'gender': 2,
  'job': 'Screenplay',
  'name': 'Joel Cohen',
  'profile_path': '/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg'},
 {'department': 'Writing',
  'gender': 0,
  'job': 'Screenplay',
  'name': 'Alec Sokolow',
  'profile_path': '/v79vlRYi94BZUQnkkyznbGUZLjT.jpg'},
 {'department': 'Production',
  'gender': 1,
  'job': 'Producer',
  'name': 'Bonnie Arnold',
  'profile_path': None},
 {'department': 'Production',
  'gender': 0,
  'job': 'Executive Producer',
  'name': 'Ed Catmull',
  'profile_path': None},
 {'department': 'Production',
  'gender': 2,
  'job': 'Producer',
  'name': 'Ralph Guggenheim',
  'profile_path': None},
 {'department': 'Production',
  'gender': 2,
  'job': 'Executive Producer',
  'name': 'Steve Jobs',
  'profile_path': '/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg'},
 {'department': 'Editing',
  'gender': 2,
  'job': 'Editor',
  'name': 'Lee Unkrich',
  'profile_path': '/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg'},
 {'department': 'Art',
  'gender': 2,
  'job': 'Art Direction',
  'name': 'Ralph Eggleston',
  'profile_path': '/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg'},
 {'department': 'Editing',
  'gender': 2,
  'job': 'Editor',
  'name': 'Robert Gordon',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 0,
  'job': 'Foley Editor',
  'name': 'Mary Helen Leasman',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Kim Blanchette',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 0,
  'job': 'ADR Editor',
  'name': 'Marilyn McCoppen',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 2,
  'job': 'Orchestrator',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Color Timer',
  'name': 'Dale E. Grahn',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'CG Painter',
  'name': 'Robin Cooper',
  'profile_path': None},
 {'department': 'Writing',
  'gender': 2,
  'job': 'Original Story',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'department': 'Writing',
  'gender': 2,
  'job': 'Original Story',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'department': 'Writing',
  'gender': 0,
  'job': 'Original Story',
  'name': 'Joe Ranft',
  'profile_path': '/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg'},
 {'department': 'Crew',
  'gender': 0,
  'job': 'Post Production Supervisor',
  'name': 'Patsy Bouge',
  'profile_path': None},
 {'department': 'Art',
  'gender': 0,
  'job': 'Sculptor',
  'name': 'Norm DeCarlo',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Animation Director',
  'name': 'Ash Brannon',
  'profile_path': '/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg'},
 {'department': 'Sound',
  'gender': 2,
  'job': 'Music',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'department': 'Directing',
  'gender': 0,
  'job': 'Layout',
  'name': 'Roman Figun',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 2,
  'job': 'Orchestrator',
  'name': 'Don Davis',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 0,
  'job': 'Music Editor',
  'name': 'James Flamberg',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Negative Cutter',
  'name': 'Mary Beth Smith',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Negative Cutter',
  'name': 'Rick Mackay',
  'profile_path': None},
 {'department': 'Art',
  'gender': 0,
  'job': 'Title Designer',
  'name': 'Susan Bradley',
  'profile_path': None},
 {'department': 'Crew',
  'gender': 0,
  'job': 'Supervising Technical Director',
  'name': 'William Reeves',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 2,
  'job': 'Songs',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'department': 'Writing',
  'gender': 2,
  'job': 'Original Story',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'department': 'Crew',
  'gender': 2,
  'job': 'Supervising Animator',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'department': 'Sound',
  'gender': 2,
  'job': 'Sound Designer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'department': 'Production',
  'gender': 0,
  'job': 'Production Supervisor',
  'name': 'Karen Robert Jackson',
  'profile_path': None},
 {'department': 'Crew',
  'gender': 0,
  'job': 'Executive Music Producer',
  'name': 'Chris Montan',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation Director',
  'name': 'Rich Quade',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Michael Berenstein',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Colin Brady',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Davey Crockett Feiten',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Angie Glocka',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Rex Grignon',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Tom K. Gurney',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Animation',
  'name': 'Jimmy Hayward',
  'profile_path': '/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg'},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Hal T. Hickel',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Karen Kiser',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Anthony B. LaMolinara',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Guionne Leroy',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Animation',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Les Major',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Animation',
  'name': 'Glenn McQueen',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Mark Oftedal',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Animation',
  'name': 'Jeff Pidgeon',
  'profile_path': '/yLddkg5HcgbJg00cS13GVBnP0HY.jpg'},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Jeff Pratt',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Steve Rabatich',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Roger Rose',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Steve Segal',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Doug Sheppeck',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Alan Sperling',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Doug Sweetland',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'David Tart',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Ken Willard',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Visual Effects Supervisor',
  'name': 'Thomas Porter',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Visual Effects',
  'name': 'Mark Thomas Henne',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Visual Effects',
  'name': 'Oren Jacob',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Visual Effects',
  'name': 'Darwyn Peachey',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Visual Effects',
  'name': 'Mitch Prater',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Visual Effects',
  'name': 'Brian M. Rosen',
  'profile_path': None},
 {'department': 'Lighting',
  'gender': 1,
  'job': 'Lighting Supervisor',
  'name': 'Sharon Calahan',
  'profile_path': None},
 {'department': 'Lighting',
  'gender': 0,
  'job': 'Lighting Supervisor',
  'name': 'Galyn Susman',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'CG Painter',
  'name': 'William Cone',
  'profile_path': None},
 {'department': 'Art',
  'gender': 0,
  'job': 'Sculptor',
  'name': 'Shelley Daniels Lekven',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Character Designer',
  'name': 'Bob Pauley',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Character Designer',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Character Designer',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Character Designer',
  'name': 'William Cone',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Character Designer',
  'name': 'Steve Johnson',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Character Designer',
  'name': 'Dan Haskett',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Character Designer',
  'name': 'Tom Holloway',
  'profile_path': '/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg'},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Character Designer',
  'name': 'Jean Gillmore',
  'profile_path': None},
 {'department': 'Directing',
  'gender': 0,
  'job': 'Layout',
  'name': 'Desirée Mourad',
  'profile_path': None},
 {'department': 'Art',
  'gender': 0,
  'job': 'Set Dresser',
  'name': "Kelly O'Connell",
  'profile_path': None},
 {'department': 'Art',
  'gender': 0,
  'job': 'Set Dresser',
  'name': 'Sonoko Konishi',
  'profile_path': None},
 {'department': 'Art',
  'gender': 0,
  'job': 'Set Dresser',
  'name': 'Ann M. Rockwell',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Editorial Manager',
  'name': 'Julie M. McDonald',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Assistant Editor',
  'name': 'Robin Lee',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Assistant Editor',
  'name': 'Tom Freeman',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Assistant Editor',
  'name': 'Ada Cochavi',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Assistant Editor',
  'name': 'Dana Mulligan',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Editorial Coordinator',
  'name': 'Deirdre Morrison',
  'profile_path': None},
 {'department': 'Production',
  'gender': 0,
  'job': 'Production Coordinator',
  'name': 'Lori Lombardo',
  'profile_path': None},
 {'department': 'Production',
  'gender': 0,
  'job': 'Production Coordinator',
  'name': 'Ellen Devine',
  'profile_path': None},
 {'department': 'Crew',
  'gender': 0,
  'job': 'Unit Publicist',
  'name': 'Lauren Beth Strogoff',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 2,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'department': 'Sound',
  'gender': 0,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Summers',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 2,
  'job': 'Supervising Sound Editor',
  'name': 'Tim Holland',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 0,
  'job': 'Sound Effects Editor',
  'name': 'Pat Jackson',
  'profile_path': None},
 {'department': 'Crew',
  'gender': 2,
  'job': 'Sound Design Assistant',
  'name': 'Tom Myers',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 0,
  'job': 'Assistant Sound Editor',
  'name': 'J.R. Grubbs',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 1,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Sanford',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 0,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Popovic',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 0,
  'job': 'Assistant Sound Editor',
  'name': 'Dan Engstrom',
  'profile_path': None},
 {'department': 'Production',
  'gender': 1,
  'job': 'Casting Consultant',
  'name': 'Ruth Lambert',
  'profile_path': None},
 {'department': 'Production',
  'gender': 0,
  'job': 'ADR Voice Casting',
  'name': 'Mickie McGowan',
  'profile_path': '/k7TjJBfINsg8vLQxJwos6XObAD6.jpg'}]

In [172]:
df_crew.head()

                                                crew     id
0  [{'department': 'Directing', 'gender': 2, 'job...    862
1  [{'department': 'Production', 'gender': 2, 'jo...   8844
2  [{'department': 'Directing', 'gender': 2, 'job...  15602
3  [{'department': 'Directing', 'gender': 2, 'job...  31357
4  [{'department': 'Sound', 'gender': 2, 'job': '...  11862

In [175]:
df_crew.to_csv('ETL\credits_crew_ETL.csv', index=False)

In [ ]:

# Definir función para eliminar claves con la palabra "id" de manera parcial
def eliminar_claves_id(diccionario):
    patron = re.compile(r'\b\w*id\w*\b', flags=re.IGNORECASE)
    diccionario_filtrado = {clave: valor for clave, valor in diccionario.items() if not patron.search(clave)}
    return diccionario_filtrado

## PODEMOS ELIMINAR EL DATASET DE CREDITS, YA QU ELO DIVIDIMOS EN 2 Y REDUJIMOS US TAMAÑO

esta en credits_Cast_ETL.csv y credits_crew_ETL.csv

## EL CODIGO QUE SIGUE ESTA BIEN PERO HARE UNAS MODIFICACIONES
NO EJECUTAR

In [71]:
# Crea una lista para almacenar las claves únicas de los diccionarios
keys = []

# Itera sobre cada fila del DataFrame
for index, row in credits.iterrows():
    # Accede a la lista de diccionarios en la columna "cast" de la fila actual
    cast_list = eval(row['cast']) #se usa eval ya que las lsitas estan guardadas como str 
    #print ('este es el resultadon\n ',  cast_list, '\n', type(cast_list) )#Verificamos que la iteracion por cada fila este funcionando.
     # Itera sobre cada diccionario en la lista
    for dictionary in cast_list:
        # Obtiene las claves del diccionario
        keys.extend(dictionary.keys())

In [72]:
#creamos un df para guardas los datos de la columna CAST y eliminamos las keys duplicadas
Cast_df = pd.DataFrame()
keys = set(keys)

# Crear columnas vacías con las keys de los diccionarios
for col_name in keys:
    Cast_df[col_name] = pd.Series(dtype=object)

Cast_df.head() # Verificar los cambios

Empty DataFrame
Columns: [profile_path, credit_id, character, cast_id, id, name, gender, order]
Index: []

In [ ]:
# Itera nuevamente sobre cada fila del DataFrame
for index, row in credits.iterrows():
    cast_list = eval(row['cast']) #se usa eval ya que las lsitas estan guardadas como str 
    
    # Itera sobre cada diccionario en la lista
    for dictionary in cast_list:

        # Actualiza los valores de las columnas correspondientes a las claves del diccionario
            for key in dictionary.keys():
                Cast_df.loc[index, key] = dictionary[key]

In [ ]:
Cast_df.head()

In [ ]:
Cast_df.to_csv('D:\Proyecrto individual\PI_ML_OPS\ETL CREDITS\Cast_df.csv', index=False)

In [7]:
Cast_df = pd.read_csv('ETL CREDITS\Cast_df.csv')

In [9]:
Cast_df.head()

,name,cast_id,character,gender,id,credit_id,order,profile_path
0,Penn Jillette,27,TV Announcer (voice),2,37221,52fe4284c3a36847f8024fc5,12,/zmAaXUdx12NRsssgHbk1T31j2x9.jpg
1,Brenda Lockmuller,42,Pianist,0,1483452,5593597692514167fd000644,25,NaN
2,Kevin Pollak,10,Jacob Goldman,2,7166,53e5fcd4c3a3684433000e1a,6,/kwu2T8CDnThZTzE88uiSgJ5eHXf.jpg
3,Wesley Snipes,21,James Wheeler,2,10814,56f8a929c3a36816e80084f3,9,/hQ6EBa6vgu7HoZpzms8Y10VL5Iw.jpg
4,Lori Alan,20,Wife Mrs. Habib,1,24358,57ffa654c3a3681552000277,11,/mNfJWzuaKgkIaK7CuirXOMosd2h.jpg

In [10]:
Cast_df.tail()

,name,cast_id,character,gender,id,credit_id,order,profile_path
43053,Jeroen Krabbé,14,Baron Roger Daguerre,0,1924,58207d0d92514168ad013b03,4,/A5Mks6zi6Xzt9A8fxBWc3wdlvhx.jpg
43054,Elham Korda,2,NaN,0,1619957,5894a95fc3a368409f007ca7,3,NaN
43055,Modesta,1013,Homer's mother,0,1801183,58fb45a4925141643c00c6ee,10,NaN
43056,Darrell Dubovsky,20,Doorman,0,1686379,57ed10149251416b58006b06,14,NaN
43057,Vera Orlova,6,NaN,1,29199,52fe4ea59251416c7515d7e5,4,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg

# NO SE CARGARON LOS DATOS COMPLETOS INTETNAREMOS DE OTRA MANERA

In [305]:
credits2 = pd.read_csv('Dataset\credits.csv')

In [306]:
credits2.head(1)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862

In [307]:
# Crea una lista para almacenar las claves únicas de los diccionarios
keys2 = []

# Itera sobre cada fila del DataFrame
for index, row in credits2.iterrows():
    # Accede a la lista de diccionarios en la columna "cast" de la fila actual
    cast_list2 = eval(row['cast']) #se usa eval ya que las lsitas estan guardadas como str 
    #print ('este es el resultadon\n ',  cast_list, '\n', type(cast_list) )#Verificamos que la iteracion por cada fila este funcionando.
    #  # Itera sobre cada diccionario en la lista
    # for dictionary2 in cast_list2:
    #     # Obtiene las claves del diccionario
    #     keys2.extend(dictionary2.keys())

In [308]:
#creamos un df para guardas los datos de la columna CAST y eliminamos las keys duplicadas
Cast_df2 = pd.DataFrame()
keys2 = set(keys2)

# Crear columnas vacías con las keys de los diccionarios
for col_name2 in keys2:
    Cast_df2[col_name2] = pd.Series(dtype=object)

Cast_df2.head() # Verificar los cambios

Empty DataFrame
Columns: [credit_id, character, name, order, id, cast_id, profile_path, gender]
Index: []

In [309]:
#creamos una lista que sera la lista de diccionariso en cada uno de los datos de las filas de la columna Cast
cast_list2 = []

In [310]:
# Itera nuevamente sobre cada fila del DataFrame
for index, row in credits2.iterrows():
    cast_data = eval(row['cast']) #se usa eval ya que las lsitas estan guardadas como str
    cast_list2.extend(cast_data)

In [311]:
len(cast_list2)

562474

In [312]:
#se crea un dataframe con la lista de diccionarios
nuevos_datos = pd.DataFrame(cast_list2)

# Concatenar los datos al DataFrame existente
Cast_df2 = pd.concat([Cast_df2, nuevos_datos], ignore_index=True)

In [313]:
nuevos_datos.tail()

,cast_id,character,credit_id,gender,id,name,order,profile_path
562469,2,,52fe4ea59251416c7515d7d5,2,544742,Iwan Mosschuchin,0,None
562470,3,,52fe4ea59251416c7515d7d9,1,1090923,Nathalie Lissenko,1,None
562471,4,,52fe4ea59251416c7515d7dd,2,1136422,Pavel Pavlov,2,None
562472,5,,52fe4ea59251416c7515d7e1,0,1261758,Aleksandr Chabrov,3,None
562473,6,,52fe4ea59251416c7515d7e5,1,29199,Vera Orlova,4,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg

In [314]:
Cast_df2.tail()

,credit_id,character,name,order,id,cast_id,profile_path,gender
562469,52fe4ea59251416c7515d7d5,,Iwan Mosschuchin,0,544742,2,None,2
562470,52fe4ea59251416c7515d7d9,,Nathalie Lissenko,1,1090923,3,None,1
562471,52fe4ea59251416c7515d7dd,,Pavel Pavlov,2,1136422,4,None,2
562472,52fe4ea59251416c7515d7e1,,Aleksandr Chabrov,3,1261758,5,None,0
562473,52fe4ea59251416c7515d7e5,,Vera Orlova,4,29199,6,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg,1

In [315]:
Cast_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562474 entries, 0 to 562473
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   credit_id     562474 non-null  object
 1   character     562474 non-null  object
 2   name          562474 non-null  object
 3   order         562474 non-null  object
 4   id            562474 non-null  object
 5   cast_id       562474 non-null  object
 6   profile_path  388618 non-null  object
 7   gender        562474 non-null  object
dtypes: object(8)
memory usage: 34.3+ MB

In [43]:
Cast_df.to_csv('Cast_ETL.csv', index=False)

crew

In [318]:
credits2.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [320]:
# Crea una lista para almacenar las claves únicas de los diccionarios
keys_3 = []

# Itera sobre cada fila del DataFrame
for index, row in credits2.iterrows():
    # Accede a la lista de diccionarios en la columna "crew" de la fila actual
    crew_list = eval(row['crew']) #se usa eval ya que las lsitas estan guardadas como str 
    #print ('este es el resultadon\n ',  crew_list, '\n', type(crew_list) )#Verificamos que la iteracion por cada fila este funcionando.
     # Itera sobre cada diccionario en la lista
    for dictionary_3 in crew_list:
        # Obtiene las claves del diccionario
        keys_3.extend(dictionary_3.keys())

In [322]:
#creamos un df para guardas los datos de la columna CAST y eliminamos las keys duplicadas
crew_DF = pd.DataFrame()
keys_3 = set(keys_3)

# Crear columnas vacías con las keys de los diccionarios
for col_name in keys_3:
    crew_DF[col_name] = pd.Series(dtype=object)
 
Cast_df2.head() # Verificar los cambios

,credit_id,character,name,order,id,cast_id,profile_path,gender
0,52fe4284c3a36847f8024f95,Woody (voice),Tom Hanks,0,31,14,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,2
1,52fe4284c3a36847f8024f99,Buzz Lightyear (voice),Tim Allen,1,12898,15,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,2
2,52fe4284c3a36847f8024f9d,Mr. Potato Head (voice),Don Rickles,2,7167,16,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,2
3,52fe4284c3a36847f8024fa1,Slinky Dog (voice),Jim Varney,3,12899,17,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,2
4,52fe4284c3a36847f8024fa5,Rex (voice),Wallace Shawn,4,12900,18,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,2

## Moviecsv

In [246]:
# se crea un df con el archivo movie

df_movies = pd.read_csv('Dataset\movies_dataset.csv')

C:\Users\HP\AppData\Local\Temp\ipykernel_13556\2188128152.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv('Dataset\movies_dataset.csv')

In [209]:
#se setea la opcion de que se muestren todas las columnas para analizar mejor los datos

pd.set_option('display.max_columns', None)

In [247]:
#se verifica el df
df_movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [248]:
#evaluar como estan los datos anudados
print (df_movies.loc[0, 'belongs_to_collection'], '\n',
df_movies.loc[0, 'genres'],'\n',
df_movies.loc[0, 'production_companies'],'\n',
df_movies.loc[0, 'production_countries'],'\n',
df_movies.loc[0, 'spoken_languages'])



# NOTA: se evidencia que la columna belongs_to_collection es un diccionario, las demas columans anudadas sonuna lista

{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
 [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
 [{'name': 'Pixar Animation Studios', 'id': 3}]
 [{'iso_3166_1': 'US', 'name': 'United States of America'}]
 [{'iso_639_1': 'en', 'name': 'English'}]

In [213]:
#importamos el modulo ast para poder utilizar .literal_eval
import ast
# Función para desanidar listas en columnas
def extraccion_valores(columna):
    if pd.isnull(columna):
        return np.nan #si los datos que estan en la columna son nulos se retornara Nan.
    else:
        try:
            valores = ast.literal_eval(columna) #si los datos no es nulo, se tomara la expresionliteral de este, ejemplo si el dato es un str  "[1, 2, 3]" esta parte lo convertira en list [1, 2, 3]
            if isinstance(valores, list): #esta aprte verifica que los valores sean una lista de ser asi
                return [dato['name'] for dato in valores] #al ser una lista, cada lista que se encontrada en la varibale Valores, solo se tomara el dato que este en el index 'name' y este sera el que llene la columna
            else:
                return np.nan # #si los datos que estan en la columna son nulos se retornara Nan.
        except (ValueError, SyntaxError): # en caso de que aparezca un error se retoranra nulo
            return np.nan

In [249]:
# Desanidar las columnas 'production_companies', 'production_countries', 'spoken_languages', 'genres' y 'belongs_to_collection'
df_movies['production_companies'] = df_movies['production_companies'].apply(extraccion_valores)
df_movies['production_countries'] = df_movies['production_countries'].apply(extraccion_valores)
df_movies['spoken_languages'] = df_movies['spoken_languages'].apply(extraccion_valores)
df_movies['genres'] = df_movies['genres'].apply(extraccion_valores)

In [250]:
# Mostrar el DataFrame resultante
df_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [251]:
# Función para desanidar diccionarios  en columnas
def extraccion_valores_DICt(columna):
    if pd.isnull(columna):
        return np.nan #si los datos que estan en la columna son nulos se retornara Nan.
    else:
        try:
            valores = ast.literal_eval(columna) #si los datos no es nulo, se tomara la expresionliteral de este, ejemplo si el dato es un str  "[1, 2, 3]" esta parte lo convertira en list [1, 2, 3]
            if isinstance(valores, dict): #esta parte verifica que los valores sean una diccionario
               return valores['name'] #al ser una diccionario, cada diccionario que se encontrada en la varibale Valores, solo se tomara el dato que este en la keys 'name' y este sera el que llene la columna
            else:
                return np.nan # #si los datos que estan en la columna son nulos se retornara Nan.
        except (ValueError, SyntaxError): # en caso de que aparezca un error se retoranra nulo
            return np.nan

In [252]:
# Desanidar las columnas 'belongs_to_collection'
df_movies['belongs_to_collection'] = df_movies['belongs_to_collection'].apply(extraccion_valores_DICt)

In [253]:
df_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [254]:
#evaluar como estan los datos anudados

print (df_movies.loc[0, 'belongs_to_collection'], '\n',
df_movies.loc[0, 'genres'],'\n',
df_movies.loc[0, 'production_companies'],'\n',
df_movies.loc[0, 'production_countries'],'\n',
df_movies.loc[0, 'spoken_languages'])

Toy Story Collection
 ['Animation', 'Comedy', 'Family']
 ['Pixar Animation Studios']
 ['United States of America']
 ['English']

In [255]:
#extraer los datos de la lista y se tranforman los datos a STR
df_movies['genres'] = df_movies['genres'].apply(lambda lista: ', '.join(lista))
df_movies['production_companies'] = df_movies['production_companies'].apply(lambda lista: ', '.join(lista) if isinstance(lista, list) else lista)
df_movies['production_countries'] = df_movies['production_countries'].apply(lambda lista: ', '.join(lista) if isinstance(lista, list) else lista)
df_movies['spoken_languages'] = df_movies['spoken_languages'].apply(lambda lista: ', '.join(lista) if isinstance(lista, list) else lista)

In [301]:
#evaluar como estan los datos anudados

print (df_movies.loc[0, 'belongs_to_collection'], '\n',
df_movies.loc[0, 'genres'],'\n',
df_movies.loc[0, 'production_companies'],'\n',
df_movies.loc[0, 'production_countries'],'\n',
df_movies.loc[0, 'spoken_languages'])

Toy Story Collection
 Animation, Comedy, Family
 Pixar Animation Studios
 United States of America
 English

In [302]:
df_movies.head(4)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"Animation, Comedy, Family",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"Adventure, Fantasy, Family",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"Romance, Comedy",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"Comedy, Drama, Romance",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156.0,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0

In [303]:
df_movies.shape

(45466, 24)

In [304]:
#df_movies.to_csv('movies_ETL.csv', index=False)