## ETL CREDITS

In [31]:
import pandas as pd
import numpy as np

In [42]:
credits = pd.read_csv('Dataset\credits.csv')

In [43]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [148]:
credits.tail()

,cast,crew,id
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

Dividiremos el dataset en 2,uno que contenga los datos de cast y otro que contenga a crew

In [155]:
#creamos el df de cast
columnas_cast = ['cast', 'id']
df_Cast = credits[columnas_cast]

In [156]:
#verificamos resultado
df_Cast.head()

                                                cast     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  11862

In [157]:
#Verificaos tipo de dato
print (type(df_Cast.iloc[0,0]))

<class 'str'>

In [158]:
#dado que las los datos estan str hay que volverlos una lista
import ast

df_Cast['cast'] = df_Cast['cast'].apply(lambda x: ast.literal_eval(x))

C:\Users\makaw\AppData\Local\Temp\ipykernel_13832\1751934713.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Cast['cast'] = df_Cast['cast'].apply(lambda x: ast.literal_eval(x))

In [159]:
#verificamos que ya sea una lsta
print (type(df_Cast.iloc[0,0]))

<class 'list'>

In [160]:
# Aplicar la función a la columna especificada para eliminar las keys que contienen id
import re

patron = re.compile(r'\b\w*id\w*\b')

df_Cast['cast'] = df_Cast['cast'].apply(lambda lista: [{k: v for k, v in diccionario.items() if not patron.search(k)} for diccionario in lista])

C:\Users\makaw\AppData\Local\Temp\ipykernel_13832\3734697849.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Cast['cast'] = df_Cast['cast'].apply(lambda lista: [{k: v for k, v in diccionario.items() if not patron.search(k)} for diccionario in lista])

In [161]:
# Verificamos
df_Cast.iloc[0,0]

[{'character': 'Woody (voice)',
  'gender': 2,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'character': 'Buzz Lightyear (voice)',
  'gender': 2,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'},
 {'character': 'Mr. Potato Head (voice)',
  'gender': 2,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 {'character': 'Slinky Dog (voice)',
  'gender': 2,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 {'character': 'Rex (voice)',
  'gender': 2,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 {'character': 'Hamm (voice)',
  'gender': 2,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 {'character': 'Bo Peep (voice)',
  'gender': 1,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 {'character': 'Andy (voice)',
  'gender': 0,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'},
 {'character': 'Sid (voice)',
  'gender': 2,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 {'character': 'Mrs. Davis (voice)',
  'gender': 1,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'},
 {'character': 'Sergeant (voice)',
  'gender': 2,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 {'character': 'Hannah (voice)',
  'gender': 1,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': None},
 {'character': 'TV Announcer (voice)',
  'gender': 2,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [162]:
df_Cast.head()

                                                cast     id
0  [{'character': 'Woody (voice)', 'gender': 2, '...    862
1  [{'character': 'Alan Parrish', 'gender': 2, 'n...   8844
2  [{'character': 'Max Goldman', 'gender': 2, 'na...  15602
3  [{'character': 'Savannah 'Vannah' Jackson', 'g...  31357
4  [{'character': 'George Banks', 'gender': 2, 'n...  11862

In [163]:
df_Cast.to_csv('ETL\credits_Cast_ETL.csv', index=False)

Haremos los mimos con  crew

In [164]:
columnas_crew = ['crew', 'id']
df_crew = credits[columnas_crew]

In [165]:
df_crew.head()

                                                crew     id
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    862
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   8844
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...  15602
3  [{'credit_id': '52fe44779251416c91011acb', 'de...  31357
4  [{'credit_id': '52fe44959251416c75039ed7', 'de...  11862

In [166]:
#Verificaos tipo de dato
print (type(df_crew.iloc[0,0]))

<class 'str'>

In [167]:
#dado que las los datos estan str hay que volverlos una lista
import ast

df_crew['crew'] = df_crew['crew'].apply(lambda x: ast.literal_eval(x))

C:\Users\makaw\AppData\Local\Temp\ipykernel_13832\3905648055.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crew['crew'] = df_crew['crew'].apply(lambda x: ast.literal_eval(x))

In [169]:
#verificamos que ya sea una lsta
print (type(df_crew.iloc[0,0]))

<class 'list'>

In [170]:
# Aplicar la función a la columna especificada para eliminar las keys que contienen id
import re

# Definición del patrón de expresión regular para filtrar las claves
patron = re.compile(r'\b\w*id\w*\b')

# Aplicar el filtro a la columna 'cast' utilizando una función lambda
df_Cast['cast'] = df_Cast['cast'].apply(lambda lista: [{k: v for k, v in diccionario.items() if not patron.search(k)} for diccionario in lista])

# El código utiliza expresiones regulares para filtrar las claves de los diccionarios en la columna 'cast' del DataFrame

# Creamos un patrón de expresión regular utilizando \b para representar un límite de palabra,
# \w para coincidir con cualquier carácter alfanumérico y * para permitir cero o más repeticiones del carácter anterior

# Luego, aplicamos una función lambda a la columna 'cast' del DataFrame para realizar el filtrado

# La función lambda toma una lista de diccionarios y crea una nueva lista de diccionarios con las claves filtradas

# Iteramos sobre cada diccionario en la lista y creamos un nuevo diccionario solo con las claves que no coinciden con el patrón

# Los resultados filtrados se asignan nuevamente a la columna 'cast' del DataFrame df_Cast

C:\Users\makaw\AppData\Local\Temp\ipykernel_13832\1398599645.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crew['crew'] = df_crew['crew'].apply(lambda lista: [{k: v for k, v in diccionario.items() if not patron.search(k)} for diccionario in lista])

In [171]:
#Verificamos
df_crew.iloc[0,0]

[{'department': 'Directing',
  'gender': 2,
  'job': 'Director',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'department': 'Writing',
  'gender': 2,
  'job': 'Screenplay',
  'name': 'Joss Whedon',
  'profile_path': '/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg'},
 {'department': 'Writing',
  'gender': 2,
  'job': 'Screenplay',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'department': 'Writing',
  'gender': 2,
  'job': 'Screenplay',
  'name': 'Joel Cohen',
  'profile_path': '/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg'},
 {'department': 'Writing',
  'gender': 0,
  'job': 'Screenplay',
  'name': 'Alec Sokolow',
  'profile_path': '/v79vlRYi94BZUQnkkyznbGUZLjT.jpg'},
 {'department': 'Production',
  'gender': 1,
  'job': 'Producer',
  'name': 'Bonnie Arnold',
  'profile_path': None},
 {'department': 'Production',
  'gender': 0,
  'job': 'Executive Producer',
  'name': 'Ed Catmull',
  'profile_path': None},
 {'department': 'Production',
  'gender': 2,
  'job': 'Producer',
  'name': 'Ralph Guggenheim',
  'profile_path': None},
 {'department': 'Production',
  'gender': 2,
  'job': 'Executive Producer',
  'name': 'Steve Jobs',
  'profile_path': '/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg'},
 {'department': 'Editing',
  'gender': 2,
  'job': 'Editor',
  'name': 'Lee Unkrich',
  'profile_path': '/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg'},
 {'department': 'Art',
  'gender': 2,
  'job': 'Art Direction',
  'name': 'Ralph Eggleston',
  'profile_path': '/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg'},
 {'department': 'Editing',
  'gender': 2,
  'job': 'Editor',
  'name': 'Robert Gordon',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 0,
  'job': 'Foley Editor',
  'name': 'Mary Helen Leasman',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Kim Blanchette',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 0,
  'job': 'ADR Editor',
  'name': 'Marilyn McCoppen',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 2,
  'job': 'Orchestrator',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Color Timer',
  'name': 'Dale E. Grahn',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'CG Painter',
  'name': 'Robin Cooper',
  'profile_path': None},
 {'department': 'Writing',
  'gender': 2,
  'job': 'Original Story',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'department': 'Writing',
  'gender': 2,
  'job': 'Original Story',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'department': 'Writing',
  'gender': 0,
  'job': 'Original Story',
  'name': 'Joe Ranft',
  'profile_path': '/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg'},
 {'department': 'Crew',
  'gender': 0,
  'job': 'Post Production Supervisor',
  'name': 'Patsy Bouge',
  'profile_path': None},
 {'department': 'Art',
  'gender': 0,
  'job': 'Sculptor',
  'name': 'Norm DeCarlo',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Animation Director',
  'name': 'Ash Brannon',
  'profile_path': '/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg'},
 {'department': 'Sound',
  'gender': 2,
  'job': 'Music',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'department': 'Directing',
  'gender': 0,
  'job': 'Layout',
  'name': 'Roman Figun',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 2,
  'job': 'Orchestrator',
  'name': 'Don Davis',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 0,
  'job': 'Music Editor',
  'name': 'James Flamberg',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Negative Cutter',
  'name': 'Mary Beth Smith',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Negative Cutter',
  'name': 'Rick Mackay',
  'profile_path': None},
 {'department': 'Art',
  'gender': 0,
  'job': 'Title Designer',
  'name': 'Susan Bradley',
  'profile_path': None},
 {'department': 'Crew',
  'gender': 0,
  'job': 'Supervising Technical Director',
  'name': 'William Reeves',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 2,
  'job': 'Songs',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'department': 'Writing',
  'gender': 2,
  'job': 'Original Story',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'department': 'Crew',
  'gender': 2,
  'job': 'Supervising Animator',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'department': 'Sound',
  'gender': 2,
  'job': 'Sound Designer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'department': 'Production',
  'gender': 0,
  'job': 'Production Supervisor',
  'name': 'Karen Robert Jackson',
  'profile_path': None},
 {'department': 'Crew',
  'gender': 0,
  'job': 'Executive Music Producer',
  'name': 'Chris Montan',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation Director',
  'name': 'Rich Quade',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Michael Berenstein',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Colin Brady',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Davey Crockett Feiten',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Angie Glocka',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Rex Grignon',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Tom K. Gurney',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Animation',
  'name': 'Jimmy Hayward',
  'profile_path': '/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg'},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Hal T. Hickel',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Karen Kiser',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Anthony B. LaMolinara',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Guionne Leroy',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Animation',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Les Major',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Animation',
  'name': 'Glenn McQueen',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Mark Oftedal',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Animation',
  'name': 'Jeff Pidgeon',
  'profile_path': '/yLddkg5HcgbJg00cS13GVBnP0HY.jpg'},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Jeff Pratt',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Steve Rabatich',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Roger Rose',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Steve Segal',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Doug Sheppeck',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Alan Sperling',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Doug Sweetland',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'David Tart',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Animation',
  'name': 'Ken Willard',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Visual Effects Supervisor',
  'name': 'Thomas Porter',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Visual Effects',
  'name': 'Mark Thomas Henne',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Visual Effects',
  'name': 'Oren Jacob',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Visual Effects',
  'name': 'Darwyn Peachey',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Visual Effects',
  'name': 'Mitch Prater',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Visual Effects',
  'name': 'Brian M. Rosen',
  'profile_path': None},
 {'department': 'Lighting',
  'gender': 1,
  'job': 'Lighting Supervisor',
  'name': 'Sharon Calahan',
  'profile_path': None},
 {'department': 'Lighting',
  'gender': 0,
  'job': 'Lighting Supervisor',
  'name': 'Galyn Susman',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'CG Painter',
  'name': 'William Cone',
  'profile_path': None},
 {'department': 'Art',
  'gender': 0,
  'job': 'Sculptor',
  'name': 'Shelley Daniels Lekven',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Character Designer',
  'name': 'Bob Pauley',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Character Designer',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'department': 'Visual Effects',
  'gender': 2,
  'job': 'Character Designer',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Character Designer',
  'name': 'William Cone',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Character Designer',
  'name': 'Steve Johnson',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Character Designer',
  'name': 'Dan Haskett',
  'profile_path': None},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Character Designer',
  'name': 'Tom Holloway',
  'profile_path': '/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg'},
 {'department': 'Visual Effects',
  'gender': 0,
  'job': 'Character Designer',
  'name': 'Jean Gillmore',
  'profile_path': None},
 {'department': 'Directing',
  'gender': 0,
  'job': 'Layout',
  'name': 'Desirée Mourad',
  'profile_path': None},
 {'department': 'Art',
  'gender': 0,
  'job': 'Set Dresser',
  'name': "Kelly O'Connell",
  'profile_path': None},
 {'department': 'Art',
  'gender': 0,
  'job': 'Set Dresser',
  'name': 'Sonoko Konishi',
  'profile_path': None},
 {'department': 'Art',
  'gender': 0,
  'job': 'Set Dresser',
  'name': 'Ann M. Rockwell',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Editorial Manager',
  'name': 'Julie M. McDonald',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Assistant Editor',
  'name': 'Robin Lee',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Assistant Editor',
  'name': 'Tom Freeman',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Assistant Editor',
  'name': 'Ada Cochavi',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Assistant Editor',
  'name': 'Dana Mulligan',
  'profile_path': None},
 {'department': 'Editing',
  'gender': 0,
  'job': 'Editorial Coordinator',
  'name': 'Deirdre Morrison',
  'profile_path': None},
 {'department': 'Production',
  'gender': 0,
  'job': 'Production Coordinator',
  'name': 'Lori Lombardo',
  'profile_path': None},
 {'department': 'Production',
  'gender': 0,
  'job': 'Production Coordinator',
  'name': 'Ellen Devine',
  'profile_path': None},
 {'department': 'Crew',
  'gender': 0,
  'job': 'Unit Publicist',
  'name': 'Lauren Beth Strogoff',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 2,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'department': 'Sound',
  'gender': 0,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Summers',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 2,
  'job': 'Supervising Sound Editor',
  'name': 'Tim Holland',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 0,
  'job': 'Sound Effects Editor',
  'name': 'Pat Jackson',
  'profile_path': None},
 {'department': 'Crew',
  'gender': 2,
  'job': 'Sound Design Assistant',
  'name': 'Tom Myers',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 0,
  'job': 'Assistant Sound Editor',
  'name': 'J.R. Grubbs',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 1,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Sanford',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 0,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Popovic',
  'profile_path': None},
 {'department': 'Sound',
  'gender': 0,
  'job': 'Assistant Sound Editor',
  'name': 'Dan Engstrom',
  'profile_path': None},
 {'department': 'Production',
  'gender': 1,
  'job': 'Casting Consultant',
  'name': 'Ruth Lambert',
  'profile_path': None},
 {'department': 'Production',
  'gender': 0,
  'job': 'ADR Voice Casting',
  'name': 'Mickie McGowan',
  'profile_path': '/k7TjJBfINsg8vLQxJwos6XObAD6.jpg'}]

In [172]:
df_crew.head()

                                                crew     id
0  [{'department': 'Directing', 'gender': 2, 'job...    862
1  [{'department': 'Production', 'gender': 2, 'jo...   8844
2  [{'department': 'Directing', 'gender': 2, 'job...  15602
3  [{'department': 'Directing', 'gender': 2, 'job...  31357
4  [{'department': 'Sound', 'gender': 2, 'job': '...  11862

In [175]:
df_crew.to_csv('ETL\credits_crew_ETL.csv', index=False)

In [ ]:

# Definir función para eliminar claves con la palabra "id" de manera parcial
def eliminar_claves_id(diccionario):
    patron = re.compile(r'\b\w*id\w*\b', flags=re.IGNORECASE)
    diccionario_filtrado = {clave: valor for clave, valor in diccionario.items() if not patron.search(clave)}
    return diccionario_filtrado

In [ ]:
# #esta funcion nos permitira quitar los ids dentro de cada columna, solo quedandonos con datos como nombre, trabajo, etc
# import re
# def eliminar_claves_id(diccionario):
#     patron = re.compile(r'\b\w*id\w*\b', flags=re.IGNORECASE)
#     diccionario_filtrado = {clave: valor for clave, valor in diccionario.items() if not patron.search(clave)}
#     return diccionario_filtrado

## PODEMOS ELIMINAR EL DATASET DE CREDITS, YA QU ELO DIVIDIMOS EN 2 Y REDUJIMOS US TAMAÑO

esta en credits_Cast_ETL.csv y credits_crew_ETL.csv

## limpieza credits_Cast_ETL.csv y credits_crew_ETL.csv

In [286]:
import pandas as pd
import re

In [287]:
#cargamos los csv en los que se ETL

df_Cast = pd.read_csv('ETL\credits_Cast_ETL.csv')
df_crew = pd.read_csv('ETL\credits_crew_ETL.csv')

In [288]:
df_Cast.head(1)

                                                cast   id
0  [{'character': 'Woody (voice)', 'gender': 2, '...  862

In [289]:
df_crew.head(1)

                                                crew   id
0  [{'department': 'Directing', 'gender': 2, 'job...  862

In [290]:
print(type (df_Cast.iloc[0,0]), type (df_crew.iloc[0,0]))

<class 'str'> <class 'str'>

In [291]:
#cambiamos el tipo de dato de la columna cast de str a list
df_Cast['cast'] = df_Cast['cast'].apply(lambda x: eval(x))
df_crew['crew'] = df_crew['crew'].apply(lambda x: eval(x))

In [292]:
print(type (df_Cast.iloc[0,0]), type (df_crew.iloc[0,0]))

<class 'list'> <class 'list'>

## CAST

In [294]:
# Filtrar los diccionarios para eliminar las claves no deseadas o que no seran de utilidad
patrones = re.compile(r'profile_path|gender|order')
df_Cast['cast'] = df_Cast['cast'].apply(lambda lista: [{k: v for k, v in diccionario.items() if not patrones.search(k)} for diccionario in lista])

In [295]:
#verificamos

df_Cast.iloc[0,0]

[{'character': 'Woody (voice)', 'name': 'Tom Hanks'},
 {'character': 'Buzz Lightyear (voice)', 'name': 'Tim Allen'},
 {'character': 'Mr. Potato Head (voice)', 'name': 'Don Rickles'},
 {'character': 'Slinky Dog (voice)', 'name': 'Jim Varney'},
 {'character': 'Rex (voice)', 'name': 'Wallace Shawn'},
 {'character': 'Hamm (voice)', 'name': 'John Ratzenberger'},
 {'character': 'Bo Peep (voice)', 'name': 'Annie Potts'},
 {'character': 'Andy (voice)', 'name': 'John Morris'},
 {'character': 'Sid (voice)', 'name': 'Erik von Detten'},
 {'character': 'Mrs. Davis (voice)', 'name': 'Laurie Metcalf'},
 {'character': 'Sergeant (voice)', 'name': 'R. Lee Ermey'},
 {'character': 'Hannah (voice)', 'name': 'Sarah Freeman'},
 {'character': 'TV Announcer (voice)', 'name': 'Penn Jillette'}]

In [296]:
df_Cast.isnull().sum()

cast    0
id      0
dtype: int64

In [297]:
# Crea una lista para almacenar las claves únicas de los diccionarios de la columna cast en df_Cast
keys_cast = []

# Itera sobre cada fila del DataFrame
for index, row in df_Cast.iterrows():
    # Accede a la lista de diccionarios en la columna "crew" de la fila actual
    Cast_list = row['cast'] 
    # Itera sobre cada diccionario en la lista
    for dictionary in Cast_list:
        # Obtiene las claves del diccionario
        keys_cast.extend(dictionary.keys())

In [298]:
#eliminamos las keys repetidas
keys_cast = set(keys_cast)

In [299]:
#asignamos las keys como nueva columna en el df para posteriormente rellenar con los datos
for i in keys_cast:
    df_Cast[i] = ''

In [300]:
df_Cast.head()

                                                cast     id character name
0  [{'character': 'Woody (voice)', 'name': 'Tom H...    862
1  [{'character': 'Alan Parrish', 'name': 'Robin ...   8844
2  [{'character': 'Max Goldman', 'name': 'Walter ...  15602
3  [{'character': 'Savannah 'Vannah' Jackson', 'n...  31357
4  [{'character': 'George Banks', 'name': 'Steve ...  11862

In [301]:
#dividios cada fila de la columna cast, hacendo que cada fila contenga un diccionario con datos del nombre
#del actor y el id de la pelicula 
df_Cast=df_Cast.explode('cast')

In [302]:
df_Cast.head()

                                                cast   id character name
0  {'character': 'Woody (voice)', 'name': 'Tom Ha...  862
0  {'character': 'Buzz Lightyear (voice)', 'name'...  862
0  {'character': 'Mr. Potato Head (voice)', 'name...  862
0  {'character': 'Slinky Dog (voice)', 'name': 'J...  862
0  {'character': 'Rex (voice)', 'name': 'Wallace ...  862

In [303]:
df_Cast.isnull().sum()

cast         2418
id              0
character       0
name            0
dtype: int64

In [304]:
#eliminamos nulos luego de verificar que se ecuentran en la coluna cast
df_Cast = df_Cast.dropna(subset=['cast'])

In [305]:
df_Cast.isnull().sum()

cast         0
id           0
character    0
name         0
dtype: int64

In [306]:
# Definir una función para extraer los valores de las keys "character" y "name"
def extraer_valores(diccionario):
    return diccionario.get("character"), diccionario.get("name")

In [308]:
# Aplicar la función a la columna "cast" y asignar los valores a las nuevas columnas
df_Cast[["character", "name"]] = df_Cast["cast"].apply(lambda x: pd.Series(extraer_valores(x)))

In [309]:
#veriicamos
df_Cast.head()

,cast,id,character,name
0,"{'character': 'Woody (voice)', 'name': 'Tom Ha...",862,Woody (voice),Tom Hanks
0,"{'character': 'Buzz Lightyear (voice)', 'name'...",862,Buzz Lightyear (voice),Tim Allen
0,"{'character': 'Mr. Potato Head (voice)', 'name...",862,Mr. Potato Head (voice),Don Rickles
0,"{'character': 'Slinky Dog (voice)', 'name': 'J...",862,Slinky Dog (voice),Jim Varney
0,"{'character': 'Rex (voice)', 'name': 'Wallace ...",862,Rex (voice),Wallace Shawn

In [310]:
# Eliminar la columna "cast" si ya no la necesitas
df_Cast = df_Cast.drop("cast", axis=1)

In [311]:
df_Cast.head()

    id                character           name
0  862            Woody (voice)      Tom Hanks
0  862   Buzz Lightyear (voice)      Tim Allen
0  862  Mr. Potato Head (voice)    Don Rickles
0  862       Slinky Dog (voice)     Jim Varney
0  862              Rex (voice)  Wallace Shawn

In [312]:
df_Cast.to_csv('ETL\credits_Cast_ETL.csv', index=False)

## CREW

In [260]:
df_crew.head(1)

                                                crew   id
0  [{'department': 'Directing', 'job': 'Director'...  862

In [256]:
# Filtrar los diccionarios para eliminar las claves no deseadas o que no seran de utilidad
patrones = re.compile(r'profile_path|gender')
df_crew['crew'] = df_crew['crew'].apply(lambda lista: [{k: v for k, v in diccionario.items() if not patrones.search(k)} for diccionario in lista])

In [258]:
#verificamos
df_crew.iloc[0,0]

[{'department': 'Directing', 'job': 'Director', 'name': 'John Lasseter'},
 {'department': 'Writing', 'job': 'Screenplay', 'name': 'Joss Whedon'},
 {'department': 'Writing', 'job': 'Screenplay', 'name': 'Andrew Stanton'},
 {'department': 'Writing', 'job': 'Screenplay', 'name': 'Joel Cohen'},
 {'department': 'Writing', 'job': 'Screenplay', 'name': 'Alec Sokolow'},
 {'department': 'Production', 'job': 'Producer', 'name': 'Bonnie Arnold'},
 {'department': 'Production',
  'job': 'Executive Producer',
  'name': 'Ed Catmull'},
 {'department': 'Production', 'job': 'Producer', 'name': 'Ralph Guggenheim'},
 {'department': 'Production',
  'job': 'Executive Producer',
  'name': 'Steve Jobs'},
 {'department': 'Editing', 'job': 'Editor', 'name': 'Lee Unkrich'},
 {'department': 'Art', 'job': 'Art Direction', 'name': 'Ralph Eggleston'},
 {'department': 'Editing', 'job': 'Editor', 'name': 'Robert Gordon'},
 {'department': 'Sound', 'job': 'Foley Editor', 'name': 'Mary Helen Leasman'},
 {'department': 'Visual Effects',
  'job': 'Animation',
  'name': 'Kim Blanchette'},
 {'department': 'Sound', 'job': 'ADR Editor', 'name': 'Marilyn McCoppen'},
 {'department': 'Sound', 'job': 'Orchestrator', 'name': 'Randy Newman'},
 {'department': 'Editing', 'job': 'Color Timer', 'name': 'Dale E. Grahn'},
 {'department': 'Visual Effects', 'job': 'CG Painter', 'name': 'Robin Cooper'},
 {'department': 'Writing', 'job': 'Original Story', 'name': 'John Lasseter'},
 {'department': 'Writing', 'job': 'Original Story', 'name': 'Pete Docter'},
 {'department': 'Writing', 'job': 'Original Story', 'name': 'Joe Ranft'},
 {'department': 'Crew',
  'job': 'Post Production Supervisor',
  'name': 'Patsy Bouge'},
 {'department': 'Art', 'job': 'Sculptor', 'name': 'Norm DeCarlo'},
 {'department': 'Visual Effects',
  'job': 'Animation Director',
  'name': 'Ash Brannon'},
 {'department': 'Sound', 'job': 'Music', 'name': 'Randy Newman'},
 {'department': 'Directing', 'job': 'Layout', 'name': 'Roman Figun'},
 {'department': 'Sound', 'job': 'Orchestrator', 'name': 'Don Davis'},
 {'department': 'Sound', 'job': 'Music Editor', 'name': 'James Flamberg'},
 {'department': 'Editing',
  'job': 'Negative Cutter',
  'name': 'Mary Beth Smith'},
 {'department': 'Editing', 'job': 'Negative Cutter', 'name': 'Rick Mackay'},
 {'department': 'Art', 'job': 'Title Designer', 'name': 'Susan Bradley'},
 {'department': 'Crew',
  'job': 'Supervising Technical Director',
  'name': 'William Reeves'},
 {'department': 'Sound', 'job': 'Songs', 'name': 'Randy Newman'},
 {'department': 'Writing', 'job': 'Original Story', 'name': 'Andrew Stanton'},
 {'department': 'Crew', 'job': 'Supervising Animator', 'name': 'Pete Docter'},
 {'department': 'Sound', 'job': 'Sound Designer', 'name': 'Gary Rydstrom'},
 {'department': 'Production',
  'job': 'Production Supervisor',
  'name': 'Karen Robert Jackson'},
 {'department': 'Crew',
  'job': 'Executive Music Producer',
  'name': 'Chris Montan'},
 {'department': 'Visual Effects',
  'job': 'Animation Director',
  'name': 'Rich Quade'},
 {'department': 'Visual Effects',
  'job': 'Animation',
  'name': 'Michael Berenstein'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Colin Brady'},
 {'department': 'Visual Effects',
  'job': 'Animation',
  'name': 'Davey Crockett Feiten'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Angie Glocka'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Rex Grignon'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Tom K. Gurney'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Jimmy Hayward'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Hal T. Hickel'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Karen Kiser'},
 {'department': 'Visual Effects',
  'job': 'Animation',
  'name': 'Anthony B. LaMolinara'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Guionne Leroy'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Bud Luckey'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Les Major'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Glenn McQueen'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Mark Oftedal'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Jeff Pidgeon'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Jeff Pratt'},
 {'department': 'Visual Effects',
  'job': 'Animation',
  'name': 'Steve Rabatich'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Roger Rose'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Steve Segal'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Doug Sheppeck'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Alan Sperling'},
 {'department': 'Visual Effects',
  'job': 'Animation',
  'name': 'Doug Sweetland'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'David Tart'},
 {'department': 'Visual Effects', 'job': 'Animation', 'name': 'Ken Willard'},
 {'department': 'Visual Effects',
  'job': 'Visual Effects Supervisor',
  'name': 'Thomas Porter'},
 {'department': 'Visual Effects',
  'job': 'Visual Effects',
  'name': 'Mark Thomas Henne'},
 {'department': 'Visual Effects',
  'job': 'Visual Effects',
  'name': 'Oren Jacob'},
 {'department': 'Visual Effects',
  'job': 'Visual Effects',
  'name': 'Darwyn Peachey'},
 {'department': 'Visual Effects',
  'job': 'Visual Effects',
  'name': 'Mitch Prater'},
 {'department': 'Visual Effects',
  'job': 'Visual Effects',
  'name': 'Brian M. Rosen'},
 {'department': 'Lighting',
  'job': 'Lighting Supervisor',
  'name': 'Sharon Calahan'},
 {'department': 'Lighting',
  'job': 'Lighting Supervisor',
  'name': 'Galyn Susman'},
 {'department': 'Visual Effects', 'job': 'CG Painter', 'name': 'William Cone'},
 {'department': 'Art', 'job': 'Sculptor', 'name': 'Shelley Daniels Lekven'},
 {'department': 'Visual Effects',
  'job': 'Character Designer',
  'name': 'Bob Pauley'},
 {'department': 'Visual Effects',
  'job': 'Character Designer',
  'name': 'Bud Luckey'},
 {'department': 'Visual Effects',
  'job': 'Character Designer',
  'name': 'Andrew Stanton'},
 {'department': 'Visual Effects',
  'job': 'Character Designer',
  'name': 'William Cone'},
 {'department': 'Visual Effects',
  'job': 'Character Designer',
  'name': 'Steve Johnson'},
 {'department': 'Visual Effects',
  'job': 'Character Designer',
  'name': 'Dan Haskett'},
 {'department': 'Visual Effects',
  'job': 'Character Designer',
  'name': 'Tom Holloway'},
 {'department': 'Visual Effects',
  'job': 'Character Designer',
  'name': 'Jean Gillmore'},
 {'department': 'Directing', 'job': 'Layout', 'name': 'Desirée Mourad'},
 {'department': 'Art', 'job': 'Set Dresser', 'name': "Kelly O'Connell"},
 {'department': 'Art', 'job': 'Set Dresser', 'name': 'Sonoko Konishi'},
 {'department': 'Art', 'job': 'Set Dresser', 'name': 'Ann M. Rockwell'},
 {'department': 'Editing',
  'job': 'Editorial Manager',
  'name': 'Julie M. McDonald'},
 {'department': 'Editing', 'job': 'Assistant Editor', 'name': 'Robin Lee'},
 {'department': 'Editing', 'job': 'Assistant Editor', 'name': 'Tom Freeman'},
 {'department': 'Editing', 'job': 'Assistant Editor', 'name': 'Ada Cochavi'},
 {'department': 'Editing', 'job': 'Assistant Editor', 'name': 'Dana Mulligan'},
 {'department': 'Editing',
  'job': 'Editorial Coordinator',
  'name': 'Deirdre Morrison'},
 {'department': 'Production',
  'job': 'Production Coordinator',
  'name': 'Lori Lombardo'},
 {'department': 'Production',
  'job': 'Production Coordinator',
  'name': 'Ellen Devine'},
 {'department': 'Crew',
  'job': 'Unit Publicist',
  'name': 'Lauren Beth Strogoff'},
 {'department': 'Sound',
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Rydstrom'},
 {'department': 'Sound',
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Summers'},
 {'department': 'Sound',
  'job': 'Supervising Sound Editor',
  'name': 'Tim Holland'},
 {'department': 'Sound', 'job': 'Sound Effects Editor', 'name': 'Pat Jackson'},
 {'department': 'Crew', 'job': 'Sound Design Assistant', 'name': 'Tom Myers'},
 {'department': 'Sound',
  'job': 'Assistant Sound Editor',
  'name': 'J.R. Grubbs'},
 {'department': 'Sound',
  'job': 'Assistant Sound Editor',
  'name': 'Susan Sanford'},
 {'department': 'Sound',
  'job': 'Assistant Sound Editor',
  'name': 'Susan Popovic'},
 {'department': 'Sound',
  'job': 'Assistant Sound Editor',
  'name': 'Dan Engstrom'},
 {'department': 'Production',
  'job': 'Casting Consultant',
  'name': 'Ruth Lambert'},
 {'department': 'Production',
  'job': 'ADR Voice Casting',
  'name': 'Mickie McGowan'}]

In [259]:
df_crew.isnull().sum()

crew    0
id      0
dtype: int64

In [261]:
# Crea una lista para almacenar las claves únicas de los diccionarios de la columna cast en df_crew
keys_crew = []

# Itera sobre cada fila del DataFrame
for index, row in df_crew.iterrows():
    # Accede a la lista de diccionarios en la columna "crew" de la fila actual
    Crew_list = row['crew'] 
    # Itera sobre cada diccionario en la lista
    for dictionary in Crew_list:
        # Obtiene las claves del diccionario
        keys_crew.extend(dictionary.keys())

In [262]:
#eliminamos las keys repetidas
keys_crew = set(keys_crew)

In [313]:
keys_crew

{'department', 'job', 'name'}

In [314]:
#asignamos las keys como nueva columna en el df para posteriormente rellenar con los datos
for i in keys_crew:
    df_crew[i] = ''

In [315]:
df_crew.head()

,crew,id,job,name,department
0,"[{'department': 'Directing', 'gender': 2, 'job...",862,,,
1,"[{'department': 'Production', 'gender': 2, 'jo...",8844,,,
2,"[{'department': 'Directing', 'gender': 2, 'job...",15602,,,
3,"[{'department': 'Directing', 'gender': 2, 'job...",31357,,,
4,"[{'department': 'Sound', 'gender': 2, 'job': '...",11862,,,

In [316]:
#dividios cada fila de la columna cast, haciendo que cada fila contenga un diccionario con datos del nombre
#del trabajador, cargo, el id de la pelicula etc
df_crew= df_crew.explode('crew')

In [317]:
df_crew.head()

                                                crew   id job name department
0  {'department': 'Directing', 'gender': 2, 'job'...  862
0  {'department': 'Writing', 'gender': 2, 'job': ...  862
0  {'department': 'Writing', 'gender': 2, 'job': ...  862
0  {'department': 'Writing', 'gender': 2, 'job': ...  862
0  {'department': 'Writing', 'gender': 0, 'job': ...  862

In [318]:
df_crew.isnull().sum()

crew          771
id              0
job             0
name            0
department      0
dtype: int64

In [319]:
#eliminamos nulos luego de verificar que se ecuentran en la coluna crew
df_crew = df_crew.dropna(subset=['crew'])

In [320]:
df_crew.isnull().sum()

crew          0
id            0
job           0
name          0
department    0
dtype: int64

In [56]:
df_crew['crew'] = df_crew['crew'].apply(ast.literal_eval)

In [321]:
# Definir una función para extraer los valores de las keys "character" y "name"
def extraer_valores_crew(diccionario):
    return diccionario.get("job"), diccionario.get("name"), diccionario.get("department")

In [322]:
# Aplicar la función a la columna "crew" y asignar los valores a las nuevas columnas
df_crew[['job', 'name', 'department']] = df_crew["crew"].apply(lambda x: pd.Series(extraer_valores_crew(x)))

In [323]:
#veriicamos
df_crew.head()

,crew,id,job,name,department
0,"{'department': 'Directing', 'gender': 2, 'job'...",862,Director,John Lasseter,Directing
0,"{'department': 'Writing', 'gender': 2, 'job': ...",862,Screenplay,Joss Whedon,Writing
0,"{'department': 'Writing', 'gender': 2, 'job': ...",862,Screenplay,Andrew Stanton,Writing
0,"{'department': 'Writing', 'gender': 2, 'job': ...",862,Screenplay,Joel Cohen,Writing
0,"{'department': 'Writing', 'gender': 0, 'job': ...",862,Screenplay,Alec Sokolow,Writing

In [324]:
# Eliminar la columna "crew" si ya no la necesitas
df_crew = df_crew.drop("crew", axis=1)

In [328]:
df_crew.head()

    id         job            name department
0  862    Director   John Lasseter  Directing
0  862  Screenplay     Joss Whedon    Writing
0  862  Screenplay  Andrew Stanton    Writing
0  862  Screenplay      Joel Cohen    Writing
0  862  Screenplay    Alec Sokolow    Writing

In [339]:
#eliminamos los job que no son necesarios
#NOTA: si esto debi hacerlo antes xD

df_crew = df_crew.loc[df_crew['job'] == 'Director']

In [340]:
df_crew.head()

      id       job             name department
0    862  Director    John Lasseter  Directing
1   8844  Director     Joe Johnston  Directing
2  15602  Director    Howard Deutch  Directing
3  31357  Director  Forest Whitaker  Directing
4  11862  Director    Charles Shyer  Directing

In [341]:
df_crew.to_csv('ETL\credits_crew_ETL.csv', index=False)