## Moviecsv

In [7]:
import pandas as pd
import numpy as np

In [93]:
# se crea un df con el archivo movie
df_movies = pd.read_csv('Dataset\movies_dataset.csv')

C:\Users\makaw\AppData\Local\Temp\ipykernel_12872\1646232816.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv('Dataset\movies_dataset.csv')

In [94]:
#se setea la opcion de que se muestren todas las columnas para analizar mejor los datos
pd.set_option('display.max_columns', None)

In [95]:
#se verifica el df
df_movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [96]:
#evaluar como estan los datos anudados
print (df_movies.loc[0, 'belongs_to_collection'], '\n',
df_movies.loc[0, 'genres'],'\n',
df_movies.loc[0, 'production_companies'],'\n',
df_movies.loc[0, 'production_countries'],'\n',
df_movies.loc[0, 'spoken_languages'])
# NOTA: se evidencia que la columna belongs_to_collection es un diccionario, las demas columans anudadas sonuna lista

{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
 [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
 [{'name': 'Pixar Animation Studios', 'id': 3}]
 [{'iso_3166_1': 'US', 'name': 'United States of America'}]
 [{'iso_639_1': 'en', 'name': 'English'}]

In [97]:
#importamos el modulo ast para poder utilizar .literal_eval
import ast
# Funci√≥n para desanidar listas en columnas
def extraccion_valores(columna):
    if pd.isnull(columna):
        return np.nan #si los datos que estan en la columna son nulos se retornara Nan.
    else:
        try:
            valores = ast.literal_eval(columna) #si los datos no es nulo, se tomara la expresionliteral de este, ejemplo si el dato es un str  "[1, 2, 3]" esta parte lo convertira en list [1, 2, 3]
            if isinstance(valores, list): #esta aprte verifica que los valores sean una lista de ser asi
                return [dato['name'] for dato in valores] #al ser una lista, cada lista que se encontrada en la varibale Valores, solo se tomara el dato que este en el index 'name' y este sera el que llene la columna
            else:
                return np.nan # #si los datos que estan en la columna son nulos se retornara Nan.
        except (ValueError, SyntaxError): # en caso de que aparezca un error se retoranra nulo
            return np.nan

In [98]:

# Desanidar las columnas 'production_companies', 'production_countries', 'spoken_languages', 'genres' y 'belongs_to_collection'
df_movies['production_companies'] = df_movies['production_companies'].apply(extraccion_valores)
df_movies['production_countries'] = df_movies['production_countries'].apply(extraccion_valores)
df_movies['spoken_languages'] = df_movies['spoken_languages'].apply(extraccion_valores)
df_movies['genres'] = df_movies['genres'].apply(extraccion_valores)

# Mostrar el DataFrame resultante
df_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Fran√ßais]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [99]:
# Funci√≥n para desanidar diccionarios  en columnas
def extraccion_valores_DICt(columna):
    if pd.isnull(columna):
        return np.nan #si los datos que estan en la columna son nulos se retornara Nan.
    else:
        try:
            valores = ast.literal_eval(columna) #si los datos no es nulo, se tomara la expresionliteral de este, ejemplo si el dato es un str  "[1, 2, 3]" esta parte lo convertira en list [1, 2, 3]
            if isinstance(valores, dict): #esta parte verifica que los valores sean una diccionario
               return valores['name'] #al ser una diccionario, cada diccionario que se encontrada en la varibale Valores, solo se tomara el dato que este en la keys 'name' y este sera el que llene la columna
            else:
                return np.nan # #si los datos que estan en la columna son nulos se retornara Nan.
        except (ValueError, SyntaxError): # en caso de que aparezca un error se retoranra nulo
            return np.nan

In [100]:
# Desanidar las columnas 'belongs_to_collection'
df_movies['belongs_to_collection'] = df_movies['belongs_to_collection'].apply(extraccion_valores_DICt)
df_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Fran√ßais]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [101]:
#evaluar como estan los datos anudados

print (df_movies.loc[0, 'belongs_to_collection'], '\n',
df_movies.loc[0, 'genres'],'\n',
df_movies.loc[0, 'production_companies'],'\n',
df_movies.loc[0, 'production_countries'],'\n',
df_movies.loc[0, 'spoken_languages'])

Toy Story Collection
 ['Animation', 'Comedy', 'Family']
 ['Pixar Animation Studios']
 ['United States of America']
 ['English']

In [102]:
#extraer los datos de la lista y se tranforman los datos a STR
df_movies['genres'] = df_movies['genres'].apply(lambda lista: ', '.join(lista))
df_movies['production_companies'] = df_movies['production_companies'].apply(lambda lista: ', '.join(lista) if isinstance(lista, list) else lista)
df_movies['production_countries'] = df_movies['production_countries'].apply(lambda lista: ', '.join(lista) if isinstance(lista, list) else lista)
df_movies['spoken_languages'] = df_movies['spoken_languages'].apply(lambda lista: ', '.join(lista) if isinstance(lista, list) else lista)

In [103]:
#evaluar como estan los datos anudados, y el tama√±o del df
print (df_movies.loc[0, 'belongs_to_collection'], '\n',
df_movies.loc[0, 'genres'],'\n',
df_movies.loc[0, 'production_companies'],'\n',
df_movies.loc[0, 'production_countries'],'\n',
df_movies.loc[0, 'spoken_languages'])
df_movies.shape

Toy Story Collection
 Animation, Comedy, Family
 Pixar Animation Studios
 United States of America
 English

(45466, 24)

In [105]:
#Los valores nulos de los campos revenue, budget deben ser rellenados por el n√∫mero 0.

df_movies['revenue'].fillna(0, inplace=True)
df_movies['budget'].fillna(0, inplace=True)

In [109]:
# verificar que no queden datos nulos
print ( 'datos nulos de revenue',df_movies['revenue'].isnull().sum(),'\n','datos nulos de budget', df_movies['budget'].isnull().sum())

datos nulos de revenue 0
 datos nulos de budget 0

In [117]:
df.dropna(subset=['A', 'C'], inplace=True)

In [122]:
#Los valores nulos del campo release date deben eliminarse.
df_movies.dropna(subset=['release_date'], inplace=True)

In [124]:
#verificamos que se hayan borrado los datos nulos, antes habia 87 
df_movies['release_date'].isnull().sum()

0

In [123]:
df_movies.shape

(45379, 24)

In [ ]:
# De haber fechas, deber√°n tener el formato AAAA-mm-dd, adem√°s deber√°n crear la columna release_year donde extraer√°n el a√±o de la fecha de estreno.

In [126]:
df_movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"Animation, Comedy, Family",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,False,7.7,5415.0

In [ ]:
type()

In [ ]:

# Crear la columna con el retorno de inversi√≥n, llamada return con los campos revenue y budget, dividiendo estas dos √∫ltimas revenue / budget, cuando no hay datos disponibles para calcularlo, deber√° tomar el valor 0.

In [ ]:
# Eliminar las columnas que no ser√°n utilizadas, video,imdb_id,adult,original_title,poster_path y homepage.